<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Udemy by Huy</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/fontawesome/css/all.css" />
    <script src="./js/bootstrap.js"></script>
  </head>
  <body>
    <div id="main">
      <!-- HEADER -->
      <div id="header">
        <ul id="nav">
          <li>
            <img src="/static/img/Udemy_logo.svg.png" alt="" />
          </li>
          <li>
            <a href="">Categories</a>
            <ul class="subnav">
              <li><a href=""></a>item 1item 1item 1</li>
              <li><a href=""></a>item 1item 1item 1</li>
              <li><a href=""></a>item 1item 1item 1</li>
            </ul>
          </li>
          <li>
            <div class="input-icons">
              <i class="fa fa-search icon"> </i>
              <input
                class="search"
                type="text"
                placeholder="Search for everything"
              />
            </div>
          </li>
          <li><a href="">Udemy Business</a></li>
          <li><a href="">Tech on Udemy</a></li>
          <li>
            <a href=""
              ><i class="fas fa-shopping-cart" style="font-size: 20px"></i
            ></a>
          </li>
          <li>
            <form method="get" action="login.html">
              <button class="login-btn" type="submit">Login</button>
            </form>
          </li>
          <li>
            <form method="get" action="signup.html">
              <button class="signup-btn" type="submit">Sign Up</button>
            </form>
          </li>
          <li>
            <button class="language-btn"><i class="fas fa-globe"></i></button>
          </li>
        </ul>
      </div>
      <!-- BANNER -->
      <div id="banner">
        <img src="/static/img/BG_Home.jpg" alt="" width="100%" />
        <div class="content-box">
          <h1 style="font-weight: bold; font-size: 32px">
            Last day of cyber deal on courses
          </h1>
          <p style="font-size: 18px">
            Get in on this. It’s your last chance to score courses from just
            $9.99.
          </p>
        </div>
      </div>
      <!-- CONTENT -->
      <div id="content">
        <h1 style="margin: 30px 30px 10px 30px">
          A broad selection of courses
        </h1>
        <p style="margin-left: 30px">
          Choose from 183,000 online video courses with new additions published
          every month
        </p>

        <div class="">
            <%= name %>
        </div>
      </div>

      <!-- FOOTER -->
      <div id="footer"></div>
    </div>
  </body>
</html>
