<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login_style.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/fontawesome/css/all.css" />
    
    
  </head>

  <body>
    <div id="container">
      <div class="header"></div>
      <div class="h1" style="text-align: center">
        Log In to Your Udemy Account!
      </div>
      <div class="content-box">
        <div class="btn-login-with">
          <form method="get" action="">
            <button class="btn" type="submit">Login with facebook</button>
          </form>
          <form method="get" action="">
            <button class="btn" type="submit">Login with Google</button>
          </form>
          <form method="get" action="">
            <button class="btn" type="submit">Login with Apple</button>
          </form>
          <!-- <div class="icon">
            <i class="fa fa-envelope"></i>
            <input class="input usermail" type="text" placeholder="Email" />
          </div>
          <div class="icon">
            <i class="fa fa-lock"></i>
            <input class="input userpassword" type="password" placeholder="Password" />
          </div> -->
          <div class="form-group">
            <i class="fa fa-envelope"></i>
            <input type="text" name="email" class="input usermail" placeholder="Email" style="width: 100%; height: 50px; padding-left: 30px;" > 
            <span class="form-message"></span>
          </div>
          <div class="form-group">
            <i class="fa fa-lock"></i>
            <input type="password" name="email" class="input userpassword" placeholder="Password" style="width: 100%; height: 50px; padding-left: 30px;" > 
            <span class="form-message"></span>
          </div>
          <form method="get" action="">
            <button class="btn-login" id="dangnhap" type="submit">Log in</button>
          </form>
          <p style="text-align: center">
            or
            <a
              style="color: #5624d0; text-decoration: none; font-weight: bold"
              href=""
              >Forgot Password</a
            >
          </p>
          <div class="the-a1">
            <p style="text-align: center">
              Don't have an account?
              <a
                href=""
                style="
                  text-decoration: underline;
                  margin-bottom: 0px;
                  color: #5624d0;
                  font-weight: bold;
                "
                >Sign up</a
              >
            </p>
          </div>
          <div
            class="the-a"
            style="display: flex; justify-content: center; margin-top: 0px"
          >
            <a
              href=""
              style="
                display: inline-block;
                text-align: center;
                text-decoration: none;
                color: #5624d0;
                font-weight: bold;
              "
              >Log in with your organization</a
            >
          </div>
        </div>
      </div>
    </div>
    <script src="/static/js/1.js"></script>
  </body>
</html>
